@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

#wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#header {
  width: 200px;
  background-color: #A99ACD;
}

#header .logo {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .logo a {
  display: block;
  font-size: 26px;
  margin-top: 5px;
  color: #fff;
}

#header .menu {
  margin: 0 auto;
  margin-bottom: 30px;
}

#header .menu>ul>li {
  margin-bottom: 10px;
  position: relative;
}

#header .menu>ul>li>a {
  padding: 10px;
  display: inline-block;
  color: #fff;
  width: 100%;
  text-align: center;
}

#header .menu>ul>li:hover>a {
  font-weight: bold;
  background-color: #E2ADCF;
}

#header .menu>ul>li:last-child a {
  border-bottom: none;
}

#header .menu>ul>li>ul {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 100;
  width: 150px;
}

#header .menu>ul>li>ul>li>a {
  padding: 10px;
  display: inline-block;
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
}

#header .menu>ul>li>ul>li>a:hover {
  font-weight: bold;
  background-color: #fff;
  color: #333;
}

#board {
  width: 400px;
}

#board .banner {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  background-color: #A99ACD;
  overflow: hidden;
  z-index: 10;
}

#board .banner .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: -1;
}

#board .banner .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#board .banner .text-box {
  margin-top: 20px;
}

#board .banner .text-box h2,
#board .banner .text-box p {
  color: #fff;
}

#board .banner .text-box p {
  margin-top: 10px;
}

#board .banner a {
  background: #fff;
  color: #A99ACD;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}

#board .notice,
#board .gallery,
#board .link {
  padding: 15px 20px;
}

#board .notice .title,
#board .gallery .title {
  padding-bottom: 8px;
  margin-bottom: 5px;
  color: #A99ACD;
  border-bottom: 2px #A99ACD solid;
}

#board .notice ul li {
  width: 100%;
  padding: 5px;
}

#board .notice ul li a {
  width: 70%;
  display: inline-block;
}

#board .notice ul li a:hover {
  text-decoration: underline;
}

#board .notice ul li span {
  width: 25%;
  display: inline-block;
  text-align: right;
}

#board .gallery ul {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#board .gallery ul li {
  font-weight: bold;
}

#board .gallery ul li:hover {
  text-decoration: underline;
}

#board .gallery ul li .image-wrap {
  width: 160px;
  height: 100px;
  margin-bottom: 10px;
}

#board .gallery ul li .image-wrap img {
  width: 160px;
  height: 100px;
  object-fit: cover;
}

#board .link ul {
  display: flex;
  justify-content: space-around;
}

#board .link ul li {
  text-align: center;
  font-size: 14px;
}

#board .link ul li img {
  width: 50px;
  opacity: .8;
}

#content {
  width: calc(100% - 200px - 400px);
  height: calc(100vh - 120px);
}

#content .slide {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
}

#content .slide .slide-wrap {
  width: 100%;
  height: 400vh;
}

#content .slide .slide-wrap .slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#content .slide .slide-wrap .slider .text {
  padding: 30px;
  text-align: center;
}

#content .slide .slide-wrap .slider .text::before {
  width: 300px;
  height: 300px;
  background: #A99ACD;
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

#content .slide .slide-wrap .slider .text h1,
#content .slide .slide-wrap .slider .text p {
  color: #fff;
}

#content .slide .slide-wrap .slider.s1 {
  background-image: url(../images/slider01.jpg);
}

#content .slide .slide-wrap .slider.s2 {
  background-image: url(../images/slider02.jpg);
}

#content .slide .slide-wrap .slider.s3 {
  background-image: url(../images/slider03.jpg);
}

#footer {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

#footer .footer-logo {
  width: 200px;
  font-size: 20px;
  text-align: center;
}

#footer .text-box {
  font-size: 14px;
}

#footer .text-box .link {
  margin-bottom: 10px;
}

#footer .text-box .link a {
  border-right: 1px #333 solid;
  padding-right: 10px;
  margin-right: 10px;
}

#footer .text-box .link a:last-child {
  border-right: none;
}

#footer .site {
  margin: 10px;
  margin-right: 30px;
  margin-left: auto;
}

#footer .site select {
  padding: 10px;
  width: 150px;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#popup .box {
  width: 400px;
  height: 500px;
  background: #fff;
  padding: 30px;
  position: relative;
}

#popup .box .title {
  margin-bottom: 20px;
}

#popup .box .popup-close {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #A99ACD;
  border: none;
  padding: 10px 20px;
  color: #fff;
}